@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    /* background: linear-gradient(to right, rgba(0, 204, 255, 0.8), rgba(0, 153, 204, 0.2)); */
    transition: background-color 0.3s ease;
}

:root {
    --primary-text-color: #182b56;
    --secondary-text-color: #577592;
    --accent-color: #2204ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8em;
}

a {
    text-decoration: none;
    display: inline-block;
}

/* utility class  */
.small-bold-text {
    font-size: 0.85rem;
    font-weight: 500;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.parimary-button {
    background-color: #1d8fe6;
    border-radius: 6px;
    font-size: 700;
    color: white !important;
    box-shadow: 0 0 2px var(--secondary-text-color);
    padding: 12px 24px;
}

.parimary-button:hover {
    background-color: var(--accent-color-dark);
}

.secondary-button {
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.secondary-button:hover {
    color: #1d69a3;
}

/* top banner  */
.banner-text {
    color: white;
    padding: 15px 30px;
    text-align: center;
}

.top-banner {
    background-image: url('assets/asset\ 28.png');
    background-color: #4fb3d4;
    background-size: 300px;

}

ul {
    list-style: none;
}

.logo img {
    width: 200px;
}

.main-nav {
    justify-content: space-between;
    margin-top: 20px;
}

.nav-links {
    flex-basis: 730px;
}

.nav-links ul {
    justify-content: end;

}

.nav-links ul li {
    margin-right: 20px;
}

.hover-links {
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-links:hover {
    color: var(--accent-color);
}

header {
    padding: 50px var(--padding-inline-section) 0;
}

.header {
    justify-content: center;
    gap: 50px;
    margin-inline: 60px;
}

.header-right img {
    width: 600px;
}

.header-left {
    max-width: 40vw;
}

.header-left h1 {
    margin-top: 20px;
    color: var(--primary-text-color);
    font-weight: 600;
}

.header-right img {
    width: 600px;
}

.tryItFree {
    padding-inline: 80px;
}

.credit {
    font-size: 13px;
    padding-left: 55px;
}

/* companies section  */
.companies-section {
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}

.company-content {
    font-size: 15px;
}

.brands {
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.brands img {
    width: auto;
    height: auto;
    max-width: 110px;
    max-height: 76px;
}

/* feature section  */
.feature-section {
    background-image: url('assets/asset\ 30.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    padding-top: 30px;
}

.feature-header {
    text-align: center;
    margin-bottom: 30px;
}

.feature-header a {
    margin-bottom: 30px;
    color: var(--primary-text-color);
}

.feature-header h2 {
    color: var(--primary-text-color);
    font-weight: 500;
}

.feature-card {
    flex-direction: column;
    line-height: 0px;
    max-width: 24%;
    text-align: center;
}

.feature-card h3 {
    color: var(--primary-text-color);
    font-weight: 500;
}

.feature-card a {
    color: var(--primary-text-color);
}

.feature-area {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    margin-top: 20px;
}

.feature-card img {
    height: 40px;
    width: 40px;
}


/* big feature section  */
.big-feature-section {
    padding: 30px var(--padding-inline-section) 0;
    margin: 0 80px;
}

.big-feature-container {
    gap: 30px;
}

.feature-img img {
    width: 100%;
}

.feature-description {
    flex-direction: column;
    column-gap: 40px;
    align-items: flex-start;
    color: var(--primary-text-color);
}


/* example section  */

.example-header {
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

.example-card {
    width: 23%;
    position: relative;
    min-height: 330px;
    background: black;
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url('assets/asset\ 32.jpeg');
    background-size: cover;
    transition: 0.2s ease-out;
}

.card-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}

.example-area {
    justify-content: space-between;
}

.example-card:hover {
    box-shadow: 0 0 8px #888;
}

.example-card:nth-child(2) {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url('assets/asset\ 33.jpeg');
    background-size: cover;
}

.example-card:nth-child(3) {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url('assets/asset\ 34.jpeg');
    background-size: cover;

}

.example-card:nth-child(4) {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url('assets/asset\ 35.jpeg');
    background-size: cover;
}

/* cta section  */
.cta-img img {
    width: 100%;
}

.cta-section {
    background-color: #183B54;
    margin-top: 20px;
}